
html
{
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header fieldset
{
	display: inline-block;
	margin: 0 .6em;
	border: 0;
	padding: 0;
}

.initializing
{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 10vh;
	padding: 30vh 2em 0;
	white-space: normal;
	background-color: #ccca;
	color: #444c;
}

.note-box
{
	transition: outline-color .6s ease-out;
	outline: 4px transparent solid;
}

.note-box.activated
{
	outline-color: #0f6;
	transition: outline-color .01s;
}

button.icon
{
	background: transparent;
	border: 0;
	cursor: pointer;
}

button.icon:hover
{
	transform: scale(1.1);
}
